// Imports
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

// Fonts
$thinFont: 'Abel', sans-serif;
$linkSize: 1.2rem;
$linkBigZise: 1.5rem;

// Color Palette
$mainColor: hsla(210, 18%, 11%, 1);
$blackCoral: #1c2329;
$nightBlue: #212a35;
$lavenderBlue: hsla(228, 71%, 84%, 1);
$cyclamen: hsla(341, 60%, 66%, 1);
$rubineRed: hsla(337, 84%, 44%, 1);
$myWhite: #e6e6e6;